<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  </head>
  <body>
  <div ng-app="trafficApp">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-controller="MainController">
        <leaflet lf-center="center" width="640px" height="480px"></leaflet>
    </div>
      <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
      <script src="http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
      <script src="/javascripts/main_controller.js"></script>

  </div>
  </body>
</html>
