/*universal*/
body{
    font-size: 150%;
    font-family:Arial;
}

@media only screen and (max-width: 400px) {
    body { 
        font-size:90%;
    }    
}
button{
    border: none;
    color: beige;
}
li{
    font-size: 0.8em;    
}

/*Category buttons*/
.button_container{
    max-width:100%;
    min-width: 100%;
    margin-top: 40px;
    display: flex; 
    justify-content: space-between;
    background-color: darkblue;
    border-radius: 5px;
}
.cat_button{
    margin: 10px;
    background-color: transparent;
    border-right: 1px solid beige;
    border-left: 1px solid beige;
    width: auto;    
}

/*color explanation*/
#explanation_container{
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex; 
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}
.marker_image{
    width: 15px;
    height: 20px;
}

/*Map*/
#map_container{
    position: relative;
}
#map{
    height: 800px;
    width: 100%;
    border-radius: 5px;
    position:absolute;
    left: 0;
    top: 0;
}

/*Traffic messages list*/
#traffic_info_container{
    background-color: lightgray;
    opacity: 0.9;
    position: absolute;
    z-index: 10px;
    max-height: 700px;
    width: 40%;
    top: 100px;
    right: 0px;
    overflow: visible;
    overflow-y: scroll;
}
#traffic_info_list{
    list-style-type: none;
    padding: 0;
    max-width: 100%;
    border-radius: 5px;
   
}
.traffic_info_row{
    height: auto;
    width: auto;
    border-bottom: 1px solid grey;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
   
}
.row_header{
    display:inline-table;
}
.row_title{
    font-weight: 600;
    display: inline-block;
}

/*Marker popup*/
.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
     background: lightgray;
}
.popup_title{
    font-weight: 600;
}

/*Info message if category is empty*/
#message_container{
    height: 40px;
    background-color: crimson;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}
#message_text{
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
}
#sr_text{
    border-bottom: 1px solid grey;
    font-size: 0.6em;
    padding: 5px;
    font-family: monospace;
    font-style: italic;
}

#cached_row_title{
    font-weight: 600;
}

.error_container{
    
}

